<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <nav class="navbar navbar-dark flex-md-nowrap " id="navbar">
        <a class="navbar-brand col-md-2 mr-0" href="#" id="titleJ"><span id="jobS">Job</span><span
                id="listJ">Hunter</span></a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Keyword" aria-label="Search"
            id="keyword">
        <input class="form-control form-control-dark w-100" type="text" placeholder="Location" aria-label="Search"
            id="location">
        <button type="button" class="btn btn-outline-primary" id="search"><i class="fas fa-search"></i></button>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <button type="button" class="btn btn-outline-primary" id="logout">Sign out</button>
            </li>
        </ul>
    </nav>

    <div class="container-fluid" id="containerMain">
        <div class="row" id="contentRow">
            <nav class="col-md-2 d-none d-md-block sidebar" id="sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item" id="helloDiv">
                            <a class="nav-link active" href="#">

                                <p id="hello">Hello <span class="nameUser">{{name}}</span></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menuItem" href="/dashboard" id="jobSearch">
                                Search for jobs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menuItem" href="/saved" id="jobList">
                                <span class="nameUser">{{name}}</span> job list
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 col-lg-10 px-4" id="main">
                <div class="container-fluid" id="resSection">
                </div>
        </div>
        </main>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fe613f4734.js"></script>
    <script src="/js/dashboard.js"></script>
</body>