<div id="bodyJ">
<div class="container" id="containerJ">
    <div class="row" id="firstrowJ">
        <div class="col text-center">
            <h1 id="titleJ">welcome to <span id="jobS">Job</span><span id="listJ">Hunter</span></h1>
        </div>
    </div>
     <div class="row" id="errmsg"></div>
    <div class="row">
        <div class="container" id="btnsectionJ">
            
            <label for="email"><b id="unameJ">Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required class="inputinfo" id="emailJ" autocomplete="off">

            <label for="psw"><b id="pswW">Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required class="inputinfo" id="passwordJ" autocomplete="off">
            <button type="button" class="btn btn-outline-primary" type="submit" id="login">Login</button>
            <label id="labelW">
                No Account? <a href="/signup" id="registerRedJ">Register</a>
            </label>
        </div>

    </div>
    
    </div>
    </div>