<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/signUp_logIn.css">
  <title>Home Page</title>
</head>

<body>
<div id="bodyJ">
<div class="container" id="containerJ">
    <div class="row" id="firstrowJ">
        <div class="col text-center" >
            <h1 id="titleJ">welcome to <span id="jobS">Job</span><span id="listJ">Hunter</span></h1>
        </div>
    </div>
     <div class="row" id="errmsg"></div>
    <div class="row">
        <div class="container" id="btnsectionJ">
            
            <label for="email"><b id="unameJ">Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required class="inputinfo" id="emailJ" autocomplete="off">

            <label for="psw"><b id="pswW">Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required class="inputinfo" id="passwordJ" autocomplete="off">
            <button type="button" class="btn btn-outline-primary" type="submit" id="login">Login</button>
            <label id="labelW">
                No Account? <a href="/signup" id="registerRedJ">Register</a>
            </label>
        </div>

    </div>
    
    </div>
    </div>
<script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/fe613f4734.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/auth.js"></script>
</body>