<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/landingPage.css">
    <title>Login</title>
</head>

<body>
    <div id="main">
        <img src="/images/logoJH.png" alt="" id='logo'>
        <img src="/images/loginBG.png" alt="" id="bgSVG">
        <div id="loginCard">
            <div id="welcome">
                Job Hunter
            </div>
            <div id="welcomeMessage">
                The best tool to organize your job applications and search for new opportunities.
            </div>
            <form id="btnsectionJ">

                <input type="text" placeholder="Enter Email" name="email" class="inputinfo" id="emailJ"
                    autocomplete="off">

                <input type="password" placeholder="Enter Password" name="psw"  class="inputinfo" id="passwordJ"
                    autocomplete="off">
                <button type="button" class="btn btn-outline-primary" type="submit" id="login">Login</button>
                <div id="labelRegister">
                    No Account? <a href="/signup" id="registerRedJ">Sign up</a>
                </div>

                <a href="/passwordreset" id="passrecl">Forgot password?</a>

            </form>
            <div id="errmsg"></div>
        </div>





        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/landingPage.js"></script>
</body>