<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/mainpage.css">
    <title>Dashboard</title>
</head>

<body>
    <nav class="navbar " id="navbar">
        <a class="navbar-brand" href="#">
            <img src="/images/jobhunterlogo1.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span id="titlejob">Job</span><span id="titlehunter">Hunter</span></a>
        </a>

        <form class="form-inline">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" id="navbardropdown">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>
        </form>
    </nav>
    <div class="conatiner-fluid" id="maincontainer">
      
            <div class="sections" id="firstsection">
                <div class="container sectioncontainer">
                    <div class="row sectionnavbar">
                        <div class="col text-left sectiontitle">
                            Job search
                        </div>
                        <div class="col text-right sectionicon">
                            <button class="enlarge" data-id="firstsection"><i class="fas fa-expand-alt " ></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sections " id="secondesection">
                <div class="container sectioncontainer">
                    <div class="row sectionnavbar">
                        <div class="col text-left sectiontitle">
                            Saved jobs
                        </div>
                        <div class="col text-right sectionicon">
                            <button class="enlarge" data-id="secondesection"><i class="fas fa-expand-alt " ></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sections" id="thirdsection">
                <div class="container sectioncontainer">
                    <div class="row sectionnavbar">
                        <div class="col text-left sectiontitle">
                            Application process
                        </div>
                        <div class="col text-right sectionicon">
                            <button class="enlarge" data-id="thirdsection"><i class="fas fa-expand-alt " ></i></button>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fe613f4734.js"></script>
    <script src="/js/mainpage.js"></script>
</body>