<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/styles/newLogin.css">
    <title>Login</title>
</head>

<body>
    <div id="main">
        <img src="../public/images/logoJH.png" alt="" id='logo'>
        <img src="../public/images/loginBG.png" alt="" id="bgSVG">
        <div id="loginCard">
            <div id="welcome">
                Job Hunter
            </div>
            <div id="welcomeMessage">
                The best tool to organize your job applicatons and search for new opportunities.
            </div>
            <div id="btnsectionJ">
                <div id="emailLabel">Email</div>
                <input type="text" placeholder="Enter Email" name="email" required class="inputinfo" id="emailJ" autocomplete="off">
                <div id="passwordLabel">Password</div>
                <input type="password" placeholder="Enter Password" name="psw" required class="inputinfo" id="passwordJ" autocomplete="off">
                <button type="button" class="btn btn-outline-primary" type="submit" id="login">Login</button>
                <div id="labelRegister">
                    No Account? <a href="/signup" id="registerRedJ">Register</a>
                </div>
                <div id="labelForgotPassword">
                    <a href="/passwordreset" id="passrecl">Forgot password?</a>
                </div>
            </div>
            <div id="errmsg"></div>
        </div>





        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/auth.js"></script>
</body>