<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/not_found.css">
    <title>Not Found</title>
</head>

<body>
    <div id="main">
        <img src="/images/logo2.png" alt="" id='logo'>
        <div id="message">NOT FOUND</div>
    </div>
   

</body>