<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/passwordResetStep2.css">
    <title>Reset Password</title>
</head>

<body>
    <div id="main">
        <img src="/images/logoJH.png" alt="" id='logo'>
        <img src="/images/loginBG.png" alt="" id="bgSVG">
        <div id="pswRCard">
            <div id="welcome">
                Password reset
            </div>
            <div id="btnsectionJ">
                 <input type="password" placeholder="Enter New Password" name="psw"  class="inputinfo" id="password1"
                    autocomplete="off">
                     <input type="password" placeholder="Repeat Password" name="psw"  class="inputinfo" id="password2"
                    autocomplete="off">
                
                <button type="button" class="btn btn-outline-primary" type="submitS2" id="submit">Submit</button>
            </div>
            <div id="errmsg"></div>
        </div>





        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/passwordReset.js"></script>
</body>
