<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/passwordreset.css">
  <title>Home Page</title>
</head>
<body>
    <div class="container" id="containerJ">
        <div class="row" id="firstrow">
            <h1 id="title">
                Password reset
            </h1>
            <p id="description">
                Enter your Email and press reset, you will receive an email with the link to reset the password
            </p>
        </div>
        <div class="row" id="">
            <div class="container" id="btnsection">
            <label for="emaillab"><b id="email">Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required class="inputinfo" id="emailJ" autocomplete="off">
            <button type="button" class="btn btn-outline-primary" type="submit" id="reset">Reset</button>
            </div>
        </div>
        <div class="row" id="errmsg">
          
        </div>
    </div>



    
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/fe613f4734.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/passwordreset.js"></script>
</body>