<div id="bodyJ">
<div class="container" id="containerJSign">
    <div class="row" id="firstrowJ">
        <div class="col text-center">
            <h1 id="titleJ">Sign-up</h1>
        </div>
    </div>
        <div class="row text-center" id="errmsg" class="errmsgsignup"></div>
        <div class="row">
            <div class="row" id="singuprow">


                <label for="name"><b id="uname">Username</b></label>
                <input id="name" type="text" placeholder="Enter Username" name="uname" required autocomplete="off">

                <label for="email"><b id="emailS">Email</b></label>
                <input id="email" type="text" placeholder="Enter Email" name="email" required autocomplete="off">

                <label for="password"><b id="passwordS">Password</b></label>
                <input id="password" type="password" placeholder="Enter Password" name="psw" required autocomplete="off">

                <label for="password2"><b id="password2S">Repeat Password</b></label>
                <input id="password2" type="password" placeholder="Repeat Password" name="psw-repeat" required autocomplete="off">


                <button type="submit" class="btn btn-outline-primary" id="register">
                    Register
                </button>
                <label id="labelW">
                  Already have an account? <a href="/" id="welcomeRedS">Login</a>
                </label>



            </div>

        </div>
    </div>
</div>