<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/styles/signUp.css">
    <title>Sign up</title>
</head>

<body>
    <div id="main">
        <img src="/images/logoJH.png" alt="" id='logo'>
        <img src="/images/loginBG.png" alt="" id="bgSVG">
        <div id="signUpCard">
            <div id="signUpLabel">
                Sign up
            </div>
            <form id="signUpform">
                
                <input id="name" type="text" placeholder="Enter Username" name="uname"  autocomplete="off">

                
                <input id="email" type="text" placeholder="Enter Email" name="email"  autocomplete="off">

                
                <input id="password" type="password" placeholder="Enter Password" name="psw"  autocomplete="off">

                
                <input id="password2" type="password" placeholder="Repeat Password" name="psw-repeat"  autocomplete="off">


                <button type="submit" class="btn btn-outline-primary" id="register">
                      Register
                  </button>
                <div id="labelW">
                    Already have an account? <a href="/" id="welcomeRedS">Login</a>
                </div>
            </form>
            <div class="row text-center" id="errmsg" class="errmsgsignup"></div>
        </div>
    </div>
      <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/signUp.js"></script>
</body>