#titleJ{
    display: inline-block;
    color: white;
    font-weight: 200;
    padding-right: 0px;
    width: 20%;
}
#listJ{
    color: blue;

}
#jobS{
    color: white;
    font-weight: bold;
}
#jobSModal{
    color: black;
    font-weight: bold;
}
#listJModal{
    color: blue;
    font-weight: 200;
}
#msgModal{
    color: black;
}
#navbar{
    background-color: #041e3b;
}
#sidebar{
    background-color: rgba(4, 30, 59, 0.5);
    height:calc(100vh - 55.6px);
    padding-right: 0px;
    padding-left: 0px;
    
}
#contentRow{
    overflow: auto;
}
#containerMain{
    height: calc(100vh - 55.6px);
    overflow: hidden;
}
.menuItem{
    color: white;
}
.form-control.form-control-dark.w-100{
    box-sizing: border-box;
    border-radius: 0%;
    border-color: blue;
    margin: 0px;
}
#keyword{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#search{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
#hello{
    font-size: 30px;
    font-weight: 200;
    /* text-align: center; */
    margin-bottom: 0px;
    color: white;
}
#helloDiv{
    border-bottom: 1px solid #65707c;
}
.menuItem:hover{
    color: white;
    background-color: #041e3b;
}
.card-text{
    margin-bottom: 5px;
    color: #041e3b;
}
.cardRow{
    margin-bottom: 10px;
}
.card-title{
    color: #041e3b;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.employer{
    font-size: 20px;
}
#main{
    display: block;
    height: 100vh;
    overflow: scroll;
    padding-top: 10px;
    padding-bottom: 60px;
}
.empty::-webkit-input-placeholder {
    color: red;
    text-shadow: 0 0 2px #FF0000, 0 0 1px red;
 }
.selected{
    color: white;
    background-color: #041e3b;
}
.location{
    text-transform: capitalize;
}
.nameUser{
    text-transform: capitalize;
}

#jobSearchM{
    display: none;
}
#jobListM{
    display: none;
}
#menuMobile,#menuMobileSaved{
    display: none;
}
@media only screen and (max-width: 960px) {
    #menuMobile{
        display: inline-block;
    }
  
    #jobSearchM{
        display: inline-block;
        font-size: 15px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
    }
    #jobListM{
        display: inline-block;
        font-size: 15px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
        margin-left: 10px;
    }
    #jobListM:hover,#jobSearchM:hover{
        color: blue;
    }
    .selectedM{
        color: blue;
        background-color: transparent;
    }
    #keyword,#location{
        border-radius: 5px;
        margin-bottom: 3px;
       
    }
    #location{
        margin-bottom: 5px;
    }
    #search{
        border-radius: 5px;
    }
    
    #divLogout{
        padding-right: 0px;
    }
    #menuMobileSaved{
        display: inline-block;
    }
}