#bodyJ{
    background-image: url(/images/interview.jpg);
    height: 100vh;
    background-size: cover;
}
#containerJ,#containerJintro{
    background-color: rgba(4, 30, 59, 0.7);
    width: 95%;
    height: 550px;
    padding-top: 70px;
    position: relative;
    top: 100px;
}
#mobileIntro{
    display: none;
}
#titleJ{
    color: white;
    font-weight: 200;

}

#jobS{
    color: white;
    font-weight: bold;
}
#errmsg{
    width: 90%;
    margin: 0 auto;
}
#btnsectionJ{
    width: 90%;
    font-size: 30px;
}
#emailJ,#passwordJ,#labelW,#pswW,#unameJ,#email,#name,#password,#password2,#uname,#emailS,#passwordS,#password2S{
    font-size: 20px;
    font-weight: 200;
    color: white;
}
#login:active{
    background-color: blue;
}
#login:visited{
    background-color: blue;
}
#login:focus {     
    background-color: blue;    
    color: white;
}
#listJ,#registerRedJ,#welcomeRedS{
    color: blue;

}
#welcomeJ{
    font-size: 50px;
    color: white;
    font-weight: 100;
}
#slog{
    font-size: 40px;
    color: white;
    font-weight: 100;
    font-family: 'Great Vibes', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 90px;
}
.inputinfo{
    color: white;
    border-color: white;
}
.inputinfo:active{
    border-color: blue;
}
.inputinfo:focus-within{
    border-color: blue;
}
.inputinfo:focus,#emailJ:focus,#passwordJ:focus{
    box-shadow: 0 1px 0 0 blue;
    border-color: blue;
}
#emailJ,#passwordJ{
    border-color: white;
}
.alert.alert-warning.alert-dismissible{
    background-color: transparent;
    border: 1px solid blue;
    color: white;
    padding: 5px;
    margin: 0px;
    width: 100%;
 
}
#closebtnerrmsg{
    padding: 2px;
    color: white;
    
}
#spanClose{
    color:white;
}
.errtext{
    width: 90%;
}
#logo{
    height: 70px;
    width: auto;
    margin-top: 50px;
}
#passrec{
    font-size: 15px;
    
}
#passrecl{
    color: white;
}
#passrecl:hover{
    color: blue;
    
}
#labelW{
    margin-bottom: 0px;

}
/* tablet */
@media only screen and (max-width: 1024px) {
   #containerJ,#containerJintro{
       padding-top: 30px;
   }
  }
  /* phones */

@media only screen and (max-width: 414px) {
    #mainContainer{
        padding: 0px;
        margin: 0px;
    }
    #containerJintro{
        display: none;
    }
    #containerJ,#containerJintroMobile{
        width: 90%;
        position: relative;
        top: 0px;
    }
    #containerJintroMobile{
        background-color: rgba(4, 30, 59, 0.7);
    width: 100%;
    height: 70px;
    padding-top: 10px;
    }
    
    #colintro{
        display: none;
    }
    #mobileIntro{
        display: block;
    }
    #welcomeJ{
        font-size: 30px;
        
    }
   }
 @media only screen and (max-width: 375px) {
   
    #containerJ{
        height: 500px;
    }
   
   }
   @media only screen and (max-width: 360px) {
   
    #titleJ{
        font-size: 30px;
    
    }
    #btnsectionJ{
       
        font-size: 20px;
    }
   
   }
   @media only screen and (max-width: 320px) {
   
    #titleJ{
        font-size: 20px;
    
    }
    #btnsectionJ{
       
        font-size: 15px;
    }
    #containerJ{
        height: 420px;
    }
    #emailJ,#passwordJ,#labelW,#pswW,#unameJ,#email,#name,#password,#password2,#uname,#emailS,#passwordS,#password2S{
        font-size: 15px;
        
    }
   
   }