@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
body{
    background-color: #f1f7fe;
    height: 100vh;
    overflow: hidden;
}
#titlejob{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}
#titlehunter{
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#navbar{
    box-sizing: border-box;
    background-color: #041e3b;
    color: white;
    border: solid 1px #041e3b;
    box-shadow: 0 0 1px 2px rgba(4,30,59,.3) ;
}
#navbardropdown{
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
    
}
#navbardropdown::after{
    display: none;
    /* position: relative;
    top: 4px; */
}
#dropdownprofileinfo{
    display: flex;
    border-bottom: solid 1px #e5e7e5;
}
#dropdownprofileemail{
    width: max-content;
    margin: 0px;
}
#dropdownprofileusername{
    width: max-content;
    margin: 0px;
}
#dropdownprofileimage{
    display: inline-block;
    border: solid 1px #041e3b;
    border-radius: 50%;
    padding: 2px;
    height: 75px;
    width: 75px;
}
#dropdownprofileimagediv{
    box-sizing: border-box;
    padding: 10px;
}
#dropdownprofileinfodiv{
    box-sizing: border-box;
    padding: 10px;
}
#navbardropdown:focus{
    box-shadow: none;
}
#navbardropdown:focus  #navbarprofilepicture{
    box-shadow: 0 0 0 1px rgba(255,255,255,.3)
}
#navbardropdown:hover #navbarprofilepicture{
    box-shadow: 0 0 0 2px rgba(255,255,255,.6)
}
#navbarprofilepicture{
    padding: 2px;
    border: solid 1px white;
    border-radius: 50%;
    height: 36px ;
    width: 36px ;
}
#dropdownmenu{
    box-sizing: border-box;
    border-radius: 0px;
    width: fit-content;
}
#dropdownprofilecontainer{
    box-sizing: border-box;
    width: fit-content;
}

#signout{
    border-top: solid 1px #e5e7e5;
}
#maincontainer{
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
   
}
.sections{
    width: 33.33% ;
    box-sizing: border-box;
    background-color: transparent;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    
}
section::after{
    clear: both;
}
.sectioncontainer{
    /* width: 100%; */
    background-color: white;
    padding: 0px;
    height: 88vh;
}
#secondesectioncontainer,#firstsectioncontainer{
    padding-bottom: 5px;
}
.sectionnavbar{
    background-color: #063160;
    box-sizing: border-box;
    border: solid 1px #063160;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    height: 50px;
}
.sectiontitle{
    color: white;
    font-size: 20px;
    font-weight: 200;
    line-height: 44px;
}
.sectionicon{
    color: white;
    font-size: 20px;
    font-weight: 200;
    line-height: 50px;

}
.sectioncontentrow{
    box-sizing: border-box;
    background-color: white;
    height: calc(100% - 50px);
    border: solid 1px #041e3b;
    border-top: none;
    padding: 5px;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.sectioncontentrow::-webkit-scrollbar {
    width: 5px;
  }
   
.sectioncontentrow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }
   
.sectioncontentrow::-webkit-scrollbar-thumb {
    background-color: rgba(4,30,59, 0.5);
    outline: 1px solid white;
  }
.sectioncontentcontainer{
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
}
.sectioncontentelement{
    margin: 0px;
    padding-bottom: 5px;
}
.elements{
    box-sizing: border-box;
    width: 100%;
    background-color: white;

}
.searchjomb{
    box-sizing: border-box;
    height: 110px;
    width: 100%;
    background-color: #094384;
}
#searchcontainer{
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
}
#searchinputfirstrow,#searchinputseconderow{
    box-sizing: border-box;
    margin: 0px;
    height: 50%;
    padding: 5px;
}
#search{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    border: solid 1px white;
    margin-left: 5px;
    width: calc( 100% - 5px );
    border-radius: 0px;
}
#search:hover{
        box-shadow: 0 0 0 2px rgba(255,255,255,.6);
        
        
}
#search:hover .fa-search { 
    text-shadow: 1px 1px 3px rgba(255,255,255,1);
}
#inputGroupSelect01{
    border-radius: 0px;
    margin-right: 5px;
    color: #041e3b;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inputoption{
    font-weight: 200;
}
.inputcol{
    height: 40px;
    padding: 0px;
    
}
#location{
    color: #041e3b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    margin-left: 5px;
    padding-left: 5px;
    width: calc( 100% - 5px );
    border-radius: 0px;
    height: 100%;
}
#keyword{
    color: #041e3b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    margin-right: 5px;
    padding-left: 5px;
    width: calc( 100% - 5px );
    border-radius: 0px;
    height: 100%;
}

.inputiconplaceholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #041e3b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    padding-right: 5px;
  }
  .inputiconplaceholder::-moz-placeholder { /* Firefox 19+ */
    color: #041e3b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }
  .inputiconplaceholder:-ms-input-placeholder { /* IE 10+ */
    color: #041e3b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }
  .inputiconplaceholder:-moz-placeholder { /* Firefox 18- */
    color: #041e3b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }
    
  
.enlarge,.reduce{
    background-color: transparent;
    border: solid 1px white;
    font-size: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 10x;
    color: white;
}
.enlargeicon,.reduceicon{
    position: relative;
    top: -12px;
    /* right: -1px; */
}
.enlarge:focus,.reduce:focus{
    /* border: none; */
    box-shadow: 0 0 0 2px rgba(255,255,255,.6);
    outline: none;
}
.enlarge:hover,.reduce:hover{
    box-shadow: 0 0 0 2px rgba(255,255,255,.6);
}
.verticalsections{
    height: 33.33% ;
    box-sizing: border-box;
    background-color: transparent;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
}
.VScontainer{
    background-color: white;
    padding: 0px;
    height: 100%;
    padding-bottom: 5px;
}
.verticalsectionnavbar{
    height: 40px;
    line-height: 40px;
    color: white;
    font-weight: 200;
    background-color: #094384;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
}
#verticalmainrow{
    height: calc( 100% - 50px );
    margin: 0px;
    padding: 0px;
}
#verticalcontainer{
    box-sizing: border-box;
    border: solid 1px #041e3b;
    border-top: none;
    height: 100%;
    padding: 5px;
    padding-bottom: 0px;
    background-color: white;
}
#firstVS{
    height: calc(100% - 90px);
}
#secondeVS{
    height: 45px;
}
#thirdVS{
    height: 45px;
}
.grow,.shrink{
    background-color: transparent;
    border: solid 1px white;
    height: 25px;
    width: 25px;
    margin-bottom: 7.5px;
    font-size: 12px;
    margin-top: 7.5px;
    border-radius: 50%;
    color: white;
}
.growicon{
    position: relative;
    top: -9.5px;
    right: 0.5px;
}
.grow:focus,.shrink:focus{
    box-shadow: 0 0 0 2px rgba(255,255,255,.6);
    outline: none;
}
.grow:hover,.shrink:hover{
    box-shadow: 0 0 0 2px rgba(255,255,255,.6);

}
#sectioncontentrowseconde{
    display: none;
    height: calc( 100% - 40px);
}
#sectioncontentrowthird{
    display: none;
    height: calc( 100% - 40px);
}
#sectioncontentrowfirst{
    height: calc( 100% - 40px);
}
/* .ui-draggble-helper{
    width: 200px;
} */
.ui-draggable-dragging{
    
    width: 868.8px;
}
.missing::-webkit-input-placeholder {
    color: red;
}
.card{
    box-sizing: border-box;
    border-radius: 0px;
    border: solid 1px #094384;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-text.location{
    color: #094384;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-text.employer{
    color: #094384;
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 5px;
}
.card-text.description{
    color: #094384;
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 0px;
}
.fas.fa-map-marker-alt,.far.fa-building,.fas.fa-tasks{
    color: #094384;
    font-size: 17px;
}
.save,.apply,.delete{
    border: solid 1px #041e3b;
    border-radius: 0px;
    color: #041e3b;
}
.save:focus,.apply:focus{
    box-shadow: 0 0 0 1px rgba(4,30,59,.3)
}
.save:hover,.apply:hover{
    box-shadow: 0 0 0 1px rgba(4,30,59,.6)
}
.card-title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.cardtitleanchor{
     color: #094384;;  
}
.cardtitleanchor:hover{
    color: #094384;
    text-decoration: none;
    text-shadow: 1px 1px 1px #094384;
}
.cardtitleanchor:focus{
    border: none;
}
.showmoredescriton,.showmorelocation{
    color: #094384;
    display: none;
    border: none;
    padding-left: 0px;
    background-color: transparent;
}
.noresaultfnound,.searchhere{
    text-align: center;
    color: rgba(4,30,59, 0.3);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 50px;
}
#searchshowmore{
    box-sizing: border-box;
    background-color: #041e3b;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    border: none;
    width: 100%;
    border-radius: 0px;
    font-size: 16px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.modal-dialog{
    margin-top: 100px;
}
#settingsprofileimage{
    display: inline-block;
    border: solid 1px #041e3b;
    border-radius: 50%;
    padding: 2px;
    height: 75px;
    width: 75px;
}
.huntingtools{
    margin: 0px;
    font-size: 20px;
    font-weight: 100;
    color: gray;
    margin-bottom: 8px;
}
#settingsemail,#settingspassword,#settingsusername,#msgsettingpsw{
    margin: 0px;
    font-size: 20px;
    font-weight: 100;
    color: gray;
    margin-bottom: 8px;
}
#settingspasswordinput,#settingsemailinput,#settingsusernameinput{
    margin: 0px;
    font-size: 20px;
    font-weight: 100;
    color: gray;
    margin-bottom: 8px;
}
.settingsbtns,.huntingtoolsbtns{
    display: inline-block;
    margin-bottom: 8px;
    background-color: transparent;
    border: solid 1px grey;
    color: #041e3b;
}
.settingslines,.huntingtoolslines{
    display: flex;
}
.settingstitles,.huntingtoolstitles{
    font-size: 25px;
    font-weight: 500;
}
#editimage{
    /* position: relative; */
    /* left: -310px; */
    border: none;
    background-color: transparent;
    margin-bottom: 0px;
}
.settinginputs,.huntingtoolsinputs{
    margin-bottom: 8px;
    width: 100%;
}
#imagename,#resumename{
    width: 100%;
    margin-top: 8px;
    border: solid 1px #041e3b;
    background-color: transparent;
    color: #041e3b;

}
#imageuploadform,#resumeuploadform{
    width: 100%;
}
#loading{
    
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

