@font-face {
    font-family: robot-L;
    src: url(../fonts/Roboto-Light.ttf);
}

body {
    padding: 0px;
    margin: 0px;
}

#main {
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: repeat(7, 1fr);
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#bgSVG {
    box-sizing: border-box;
    grid-row: 1/span 7;
    grid-column: 2/span 1;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    align-self: center;
    justify-self: center;
    padding: 20px;
}

#logo {
    /* box-sizing: border-box; */
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    align-self: start;
    justify-self: start;
    position: absolute;
    top: 2vw;
    left: 2vw;
    height: 5vh;
    width: auto;
}

#loginCard {
    grid-row: 2/span 6;
    grid-column: 1/span 1;
    /* height: 90%; */
    width: 60%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
}

#welcome {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    justify-self: center;
    align-self: start;
    font-family: roboto-L, Arial, Helvetica, sans-serif;
    font-size: 5vh;
    color: #282f39;
    text-transform: lowercase;
    font-weight: 100;
}

#welcomeMessage {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
    justify-self: start;
    align-self: start;
    font-family: roboto-L, Arial, Helvetica, sans-serif;
    font-size: 3vh;
    color: #64b5f6;
    text-transform: lowercase;
    font-weight: 100;
}

#btnsectionJ {
    grid-row: 3/span 4;
    grid-column: 1/span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

#errmsg {
    grid-row: 7/span 1;
    grid-column: 1/span 1;
}

#emailLabel,
#passwordLabel {
    align-self: center;
    font-family: roboto-L, Arial, Helvetica, sans-serif;
    color: #282f39;
    font-size: 3vh;
}

#emailJ,
#passwordJ {
    box-sizing: border-box;
    padding-left: 10px;
    background-color: transparent;
    color: #64b5f6;
    border: 3px solid #64b5f6;
    border-radius: 10px;
    font-size: 2.5vh;
}

#emailJ:hover,
#passwordJ:hover {
    background-color: #daebfd;
}

#emailJ:focus-visible,
#passwordJ:focus-visible {
    outline: none;
}

#emailJ::placeholder,
#passwordJ::placeholder {
    font-family: roboto-L, Arial, Helvetica, sans-serif;
    color: #64b5f6;
    font-size: 2.5vh;
}

#login {
    background-color: #282f39;
    color: white;
    font-size: 2.5vh;
    line-height: 2.5vh;
    font-family: roboto-L, Arial, Helvetica, sans-serif;
    border: 3px solid #282f39;
    width: fit-content;
    height: fit-content;
    padding: 1.5vh;
    border-radius: 10px;
    align-self: end;
    justify-self: start;
}

#login:hover {
    background-color: #daebfd;
    color: #282f39;
}

#labelRegister,
#passrecl {
    align-self: center;
    font-size: 2.5vh;
    font-family: roboto-L, Arial, Helvetica, sans-serif;
    color: #64b5f6;
}

#registerRedJ {
    color: #282f39;
    text-decoration: none;
}

#registerRedJ:hover,
#passrecl:hover {
    text-decoration: underline;
}

#registerRedJ:focus-visible {
    outline: none;
}

#passrecl {
    text-decoration: none;
}

#errmsg {
    align-self: center;
    justify-self: center;
    font-size: 2.5vh;
    font-family: roboto-L, Arial, Helvetica, sans-serif;
    color: #d35757;
}

@media only screen and (max-width: 1500px) {
    #main {
        grid-template-columns: repeat(2, 1fr);
    }
    #logo {
        top: 2.5vw;
        left: 2.5vw;
        height: 5vh;
        width: auto;
    }
}

@media only screen and (max-width: 1200px) {
    #main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
    }
    #bgSVG {
        grid-row: 1/span 3;
        grid-column: 1/span 1;
        object-fit: cover;
        padding: 10px;
    }
    #loginCard {
        grid-row: 4/span 7;
        grid-column: 1/span 1;
        /* height: 90%; */
        width: 60%;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }
    #welcomeMessage {
        font-size: 2.5vh;
    }
    #emailJ,
    #passwordJ {
        padding-left: 7px;
        border: 2px solid #64b5f6;
        border-radius: 7px;
    }
    #login {
        border: 2px solid #282f39;
        padding: 1.2vh;
        border-radius: 7px;
    }
}

@media only screen and (max-width: 768px) {
    #loginCard {
        width: 90%;
    }
}