body{
    background-image: url(/images/interview.jpg);
    height: 100vh;
    background-size: cover;
}
#containerJ{
    background-color: rgba(4, 30, 59, 0.7);
    width: 30%;
    height: 550px;
    padding-top: 70px;
    position: relative;
    top: 100px;
}
#btnsection{
    width: 90%;
}
#firstrow{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}
#title{
    text-align: center;
    font-weight: 200;
    margin: 0 auto;
}
#description{
    font-size: 20px;
    padding: 20px;
}
#pasw1,#pasw{
    font-size: 20px;
    font-weight: 200;
    color: white;
}
#pswJ1:focus,#pswJ:focus{
    box-shadow: 0 1px 0 0 blue;
    border-color: blue;
}
#pswJ1,#pswJ{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
#pswlab{
    border-color: white;
}
#save{
    margin-top: 8px;
    color: white;
    border-color: white;
}
#save:hover{
    background-color: #094384 ;
}
#save:active{
    background-color: #094384 ;
}
#save:visited{
    background-color: #094384 ;
}
#save:focus {     
    background-color: #094384 ;
}
.errtext{
    width: 90%;
}
#errmsg{
    width: 90%;
    margin: 0 auto;
}
#closebtnerrmsg{
    padding: 2px;
    color: white;
    
}
.alert.alert-warning.alert-dismissible{
    background-color: transparent;
    border: 1px solid blue;
    color: white;
    padding: 5px;
    margin: 0px;
    width: 100%;
 
}
#succesmessage{
    background-color: transparent;
    color: white;
    border: solid 1px blue;
}
/* tablets */
@media only screen and (max-width: 1280px) {
    #containerJ{
        width: 35%;
    }
  }
  @media only screen and (max-width: 1024px) {
   
  }
  @media only screen and (max-width: 790px) {
    #containerJ{
        width: 60%;
    }
  }
  @media only screen and (max-width: 490px) {
    #containerJ{
        width: 90%;
    }
  }
  @media only screen and (max-width: 375px) {
    #containerJ{
        width: 90%;
        padding-top: 50px;
        height: 520px;
        top: 80px;
    }
  }
  @media only screen and (max-width: 360px) {
    #containerJ{
        width: 90%;
        padding-top: 50px;
        height: 520px;
        top: 50px;
    }
    #description{
        margin-bottom: 0px;
    }
  }@media only screen and (max-width: 320px) {
    #containerJ{
        width: 90%;
        padding-top: 20px;
        height: 480px;
        top: 30px;
    }
    #description{
        margin-bottom: 0px;
    }
  }