#bodyJ{
    background-image: url(/images/interview.jpg);
    height: 100vh;
    background-size: cover;
}

#containerJ,#containerS{
    background-color: rgba(4, 30, 59, 0.7);
    
   height: 550px;
    padding-top: 100px;
    position: relative;
    top: 100px;
}
#containerJ{
    width: 95%;
}
#containerJSign{
    background-color: rgba(4, 30, 59, 0.7);
    height: 600px;
     padding-top: 20px;
     position: relative;
     top: 80px;
}

.social-media-iconsJ{
    color: white;
   font-size: 30px;
}
#btnsectionJ{
    width: 90%;
    font-size: 30px;
}
#errmsg{
    width: 80%;
    margin: 0 auto;
}
#emailJ,#passwordJ,#labelW,#pswW,#unameJ,#email,#name,#password,#password2,#uname,#emailS,#passwordS,#password2S{
    font-size: 20px;
    font-weight: 200;
    color: white;
}
#email:focus,#password:focus,#password2:focus,#name:focus{
    box-shadow: 0 1px 0 0 #094384;
    border-color: #094384;;
}
#titleJ{
    color: white;
    font-weight: 200;

}
#listJ,#registerRedJ,#welcomeRedS{
    color: #f1f7fe;

}
#register{
    margin-right: 10px;
    color: white;
    border-color: white;
}
#register:hover,#register:focus,#register:active {
    background-color: #094384 ;
  }
#jobS{
    color: white;
    font-weight: bold;
}
#listW{
    font-weight: bold;
}
.inputinfoW{
    color: white;
}
.inputinfoW:active{
    border-color: #f1f7fe;
}
.inputinfoW:focus-within{
    border-color: #f1f7fe;
}
.inputinfoW:focus{
    border-color: #f1f7fe;
}
#login:active{
    background-color: #f1f7fe;
}
#login:visited{
    background-color: #f1f7fe;
}
#singuprow{
    width: 80%;
    margin: 0 auto;
}
#containerS{
    height: 650px;
}
.errmsgsignup{
    width: 80%;
    margin: 0 auto;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f1f7fe;
    -webkit-box-shadow: 0 1px 0 0 #f1f7fe;
    box-shadow: 0 1px 0 0 #f1f7fe;
}
.alert.alert-warning.alert-dismissible{
    border-color: #f1f7fe;
    background-color: transparent;
    color: #f1f7fe;
    -webkit-box-shadow: 0 0 4px #fff;
    box-shadow: 0 0 4px #fff;
    font-size: 15px;
    width: 100%;
}
.alert.alert-success{
    border-color: #f1f7fe;
    background-color: transparent;
    color: #f1f7fe;
    font-size: 15px;
}
#login:focus {     
    background-color: #f1f7fe;    
    color: white;
}
@media only screen and (max-width: 960px) {
    /* #bodyJ{
        background-image: url(/images/background-mobile.jfif);
        height: 100vh;
        background-size: cover;
    } */
    #containerJ,#containerS{
        background-color: rgba(4, 30, 59, 0.7);
        
       height: 500px;
        padding-top: 50px;
        position: relative;
        top: 50px;
    }
  
    #btnsectionJ{
        width: 90%;
        font-size: 30px;
    }
    #titleJ{
   font-size: 20px;

}
#containerJSign{
    background-color: rgba(4, 30, 59, 0.7);
    height: 580px;
     padding-top: 20px;
     width: 90%;
     position: relative;
     top: 30px;
}
}
@media only screen and (max-width: 420px) {
   
    #containerJ,#containerS{
        
       height: 500px;
        padding-top: 50px;
        position: relative;
        top: 50px;
    }
  
    #btnsectionJ{
        width: 90%;
        font-size: 30px;
    }
    #titleJ{
   font-size: 20px;

}
#containerJSign{
    height: 510px;
     padding-top: 10px;
     width: 90%;
     position: relative;
     top: 10px;
}
#emailJ,#passwordJ,#labelW,#pswW,#unameJ,#email,#name,#password,#password2,#uname,#emailS,#passwordS,#password2S{
    font-size: 15px;
}
.alert.alert-warning.alert-dismissible{
    
    font-size: 10px;
   
}
#infoinputrow{
    margin-bottom: 10px;
}
#firstrowJ{
    margin-bottom: 10px;
}
#email,#password,#password2,#name{
    height: 30px;
}
#register{
    margin-bottom: 10px;
}
#closebtnerrmsg{
    padding: 5px;
 
}
}